.neutralise__emissions,.neutralise__emissions:hover{
    color: white !important;
    background-color: #3c0164;
    font-size:14px;
    border-radius:25px;
    border:none;
    margin:4px 10px!important;
    font-weight: 900;
  
}

.HowItWorks__title{
    background-color: #F5F2F7;
    color:#3c0164;
    font-weight: 300;
   
}

.font__large{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 96px;
    color: gray;
}

.font__small{
    font-size: small;
    color: lightgray;
}
.padding__text{
    padding-top: 14px;
    padding-bottom: 4px;
    font-weight: 400;
    font-size: 19px;
}
.margin__left{
    margin-left: 34px;
    margin-right: 144px;
}
.card__shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 12px;
}
.card-text{
    font-weight: bolder;
    color: #737373;
}